CLUSTER_NAME=my-cluster
DEFAULT_NODE_COUNT=1
GPU_NODE_COUNT=0
PORT=8888
STATE_BUCKET_NAME=my-k3s-anywhere-state
# USE_PUBLIC_DNS=true  # AWS only: use the EC2 public DNS name in the kubeconfig instead of the IP
